beautifulsoup4==4.12.2
jsonpath_ng==1.6.0
keystoneauth1==5.4.0
minio==7.2.1
python_cinderclient==9.4.0
python_glanceclient==4.4.0
python_keystoneclient==5.2.0
python_novaclient==18.4.0
Requests==2.31.0
